## Problem Statement: Prepare a ML model that identifies user face real time from webcam (binary image classification).

## Importing all necessery libraries

In [3]:
import cv2
# cv2 is for capturing images

import os
# this helps to deal with directory

import numpy as np
# Helps to do different kind of mathematical operations

from PIL import Image
# pillow helps to deal with image file

import pandas as pd
#pandas helps to manipulate data

### User image collection from webcam to learn the model (this is one time collection to learn the model).

In [ ]:
Path = input("Create a new folder in the directory and enter the path of that directory: ")
# Asking user to give a path in the directory to save the images
os.chdir(Path)
# Capturing 2000 sampel images of user

camera = cv2.VideoCapture(0)
for i in range(2000):
    return_value, image = camera.read()
    
    cv2.imwrite('opencv'+str(i)+'.jpg', image)
del(camera)

### Converting collected images into numpy arrays

In [ ]:
n=len(os.listdir(os.getcwd()))
# number of files in that directory 
# as we create new folder and taken image at that so this indicate number of image in that folder

directory = Path
i=0

arr=np.empty(( n,32*32*4+1))
# Initilizing a empty array letter we populate this array iteratively

for filename in os.listdir(directory):
    
    image = Image.open(filename).convert('RGBA')
    #converting the image in to (RGBA) format where R<-red, G<-green,B<-blue, A<-alpha
    
    image = image.resize((32,32))
    # resizing image into same dimention 
    # converting image into (32,32,4) dimensional array 
    
    data = np.asarray(image)
    # converting image into (32,32,4) dimensional array 
    
    
    data=data.reshape((1,32*32*4))
    # reshaping the array into a row vector
    
    data=np.append(data,1)
    # also concatinating 1 with that array to indicate this is right image of the user
        
    arr[i,:]=data
    # Populating empty array with row vector
    i=i+1
np.save("d.npy",arr)
arr.shape

### Using the previous two cell collect some images which are not my face

In [4]:
os.chdir("/home/sd/Desktop/trainning set")

### Loading all the saved image arrays

In [5]:
a=np.load('father.npy')
b=np.load('mother.npy')
c=np.load('mother1.npy')
d=np.load('room.npy')
e=np.load('me.npy')
f=np.load('me1.npy')
g=np.load('garbage.npy')
h=np.load('d.npy')

#### Making a big array with all image array and convert it into pandas DataFrame

In [6]:
arr2=np.concatenate((a,b,c,d,e,f,g,h),axis=0)
df=pd.DataFrame(arr2)

In [7]:
#### Shape of the data frame that we create

In [559]:
df.shape
# Shape of the DataFrame

(16000, 4097)

In [558]:
df.tail()
# First 5 row of the data set

,0,1,2,3,4,5,6,7,8,9,...,4087,4088,4089,4090,4091,4092,4093,4094,4095,4096
15995,55.0,46.0,40.0,255.0,69.0,64.0,61.0,255.0,71.0,70.0,...,255.0,76.0,62.0,45.0,255.0,88.0,60.0,46.0,255.0,0.0
15996,96.0,91.0,93.0,255.0,99.0,95.0,96.0,255.0,97.0,94.0,...,255.0,78.0,80.0,64.0,255.0,94.0,89.0,72.0,255.0,0.0
15997,104.0,113.0,89.0,255.0,112.0,121.0,97.0,255.0,116.0,127.0,...,255.0,119.0,87.0,93.0,255.0,118.0,88.0,94.0,255.0,0.0
15998,90.0,83.0,86.0,255.0,94.0,88.0,90.0,255.0,95.0,88.0,...,255.0,79.0,74.0,61.0,255.0,94.0,85.0,70.0,255.0,0.0
15999,59.0,55.0,57.0,255.0,59.0,57.0,59.0,255.0,62.0,60.0,...,255.0,49.0,51.0,38.0,255.0,53.0,53.0,40.0,255.0,0.0

In [9]:
df = df.drop_duplicates()
# checking duplicates

In [10]:
df.shape
# assuring if there were any duplicates

(16000, 4097)

### Here we mention the variabls and terget veriable

In [12]:
X= df.loc[:, 0:4095]
# This is columns except the last column 
Y=df.loc[:,4096]
# This is the last column

### Now deviding the sets into a test set and a train set. 
### We train model using train set and test that model usinf test set.

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.8)

### We choose the logistic regression model

In [15]:
from sklearn.linear_model import LogisticRegression as log

logreg = log(tol=0.0001,max_iter=10000)
# Here I take maximum iteration 10000 times and acceptance of error is 0.0001

logreg.fit(X_train, Y_train)
#Train the model with trainning set that we create earlier

### model test using test set

In [21]:
y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, Y_test)))

Accuracy of logistic regression classifier on test set: 0.93

In [561]:
camera = cv2.VideoCapture(0)
return_value, image = camera.read()
cv2.imwrite('RealTimeImage'+'.png', image)
del(camera)

image = Image.open('RealTimeImage.png').convert('RGBA')
image1 = image.resize((32,32))
data1 = np.asarray(image1)
data1=data1.reshape((1,32*32*4))
t=logreg.predict(data1)



from colorama import Fore, Back, Style
if t==1:
    print(Fore.GREEN +"Person Detected")
if t==0:
    print(Fore.RED +"Person undetected")
image.show(title=d, command=d)

Person undetected